/physarum_01/data
/physarum_02/data
/physarum_03_opencv/data
/physarum_03_opencv_02/data
/physarum_04/data
/physarum_05/data
/physarum_06/data

physarum_03_opencv/data/movie/simplescreenrecorder-2019-10-21_17.38.10.mp4
physarum_03_opencv/data/movie/simplescreenrecorder-2019-10-21_17.42.43.mp4
physarum_03_opencv/data/movie/simplescreenrecorder-2019-10-21_17.51.10.mp4
